/* MAIN CODE */

.chatbot h1 {
    position: absolute;
    margin: 2.5% auto;
    left: 0;
    right: 0;
    font-size: 40px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    text-align: center;
}

.chatbot iframe {
    position: absolute;
    margin: 7.5% auto;
    left: 0;
    right: 0;
    border: none;
}

/* DEVICE CHECK */

@media (max-width: 660px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}

@media (max-height: 768px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}