/* MAIN CODE */

.chatbot h1 {
    position: absolute;
    margin: 2.5% auto;
    left: 0;
    right: 0;
    font-size: 40px;
    font-family: 'Comic Sans MS', 'Comic Sans';
    text-align: center;
}

.chatbot iframe {
    position: absolute;
    margin: 7.5% auto;
    left: 0;
    right: 0;
    border: none;
}