/* MAIN CODE */

.main h1 {
    position: relative;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 1000;
    text-decoration: underline;
    margin: 2.5% auto;
    text-align: center;
}

.main a {
    color: rgb(61, 67, 255);
}

.widgetbot {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateY(-25%);
    transform: translateX(-50%);
    border: 15px solid rgb(61, 67, 255);
    padding-top: 10px;
}