.navbar ul{
    list-style-type: none;
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 16px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a:not(.kofi):not(.discord-a):not(.home){
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: black;
    border-radius: 12px;
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:not(.home){
    color: white;
}
.navbar a:not(.home):not(.kofi):not(.discord-a):hover{
    text-decoration: underline rgb(255, 141, 141);
}

.kofi:hover {
    background-color: rgb(255, 111, 111);
}
.kofi {
    background-color: rgb(255, 141, 141);
    border-radius: 12px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: right;
}
.discord-a:hover {
    background-color: rgb(61, 37, 225);
}
.discord-a {
    font-size: 20px;
    background-color: rgb(61, 67, 255);
    border-radius: 12px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 1000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: right;
}

.home {
    background-color: rgb(45,45,45);

    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: white;
    border-radius: 12px;
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar li{
    float: left;
    margin-left: 6px;
}
.navbar li:is(.discord, .kofi-li){
    float: right;
    padding: 2px;
    margin-left: 12px;
    margin-right: 6px;
}

.error-mobile{
    display: none;
}

/* MAIN CODE */

.main h1 {
    position: relative;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 1000;
    text-decoration: underline;
    margin: 2.5% auto;
    text-align: center;
}

.main a {
    color: rgb(61, 67, 255);
}

.widgetbot {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateY(-25%);
    transform: translateX(-50%);
    border: 15px solid rgb(61, 67, 255);
    padding-top: 10px;
}

/* DEVICE CHECK */

@media (max-width: 660px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}

@media (max-height: 768px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}