/* MAIN CODE */



/* DEVICE CHECK */

@media (max-width: 660px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}

@media (max-height: 768px) {
    .navbar{
        display: none;
    }
    .main{
        display: none;
    }
    
    /* MAIN CODE - MOBILE */

    .error-mobile{
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
        font-size: 20px;
        font-weight: 1000;
        display: block;
    }

}